@page
@model Buy_Sell_Board.Areas.Identity.Pages.Account.Manage.New_AnnouncementModel
@using Buy_Sell_Board.Data
@using Buy_Sell_Board.Models.Announcement
@{
    ViewData["Title"] = "NewProduct";
}






<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">

            <h4>Create a new Announcement.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Files"></label>
                <input  asp-for="Input.Files" multiple="true" accept="image/*" class="form-control" /><br>
            </div>

            <div class="form-group">
                <label asp-for="Input.CategorySelectedValue"></label>
                <select id="CategoryActionsList" asp-for="Input.CategorySelectedValue"
                       onchange="changeCat()" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Input.SubcategorySelectedValue"></label>
                <select asp-for="Input.SubcategorySelectedValue"
                 id="SubcategoryActionsList"   class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Input.Product_Name"></label>
                <input asp-for="Input.Product_Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Product_Model"></label>
                <input asp-for="Input.Product_Model" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <input asp-for="Input.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Price"></label>
                <input asp-for="Input.Price" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/GetFullCat.js" asp-append-version="true"></script>      
}
